.carousel-theme .top-container {
    padding-top: 60px;
}

.carousel-theme a {

    text-decoration: none;
}

.carousel-theme a:hover{
    color:  #3a3a3a;
}

.carousel-theme img{
    position: relative;
    z-index: -10;
}

.a-lg {
    font-size: 30pt;
    color: rgba(255, 255, 255, 0.6);
}

.prev-btn {
    margin-right: -50px;
}

.next-btn {
    margin-left: -50px;
}

.indicators {
    margin: 0 auto;
    display:block;
    text-align: center;
}

.carousel-theme .panel-fixwidth{
    width: 600px;
}

.carousel-theme .fa-circle-o, .fa-circle {
    color: rgba(150, 150, 150, 0.74);
}

.carousel-theme .fa-circle-o:hover, .fa-circle:hover {
    color: rgba(86, 86, 86, 0.74);
}
